/*Estilos aplicados ao website prototipando...*/

/*Seletor Universal - selecione todos os elementos da página e aplica estilos comuns padronizados*/
*{
    margin: 0; /*remove a margem padrão de todos os elementos*/
    padding: 0; /*remove o padding de todos os elementos*/
    box-sizing: border-box; /*Inclui bordas e preenchimentos no cálculo da largura e altura dos elementos*/
}/*Fechamento do seletor universal*/

body{
    font-family: Arial, sans-serif; /*Define a fonte da página como Arial, com uma alternativa de sans-serif*/
    background-color:rgb(142, 49, 158);/*Define a cor de fundo do body*/
    color:rgb(240,240,240);/*Define a cor do texto*/
}/*Fechamento body

/*Estilo do cabeçalho / header*/
header{
    background-color: #6B137A;
    padding: 25px;
    text-align:left;
}/*Fim do Header*/

header button{
    right: 20px;/*Alinha o botão à direita, com 20px de distância da borda direita da página*/
    top:23px; /*Alinha o botão ao top*/
    position: absolute;/*Posiciona o botão de forma absoluta com relação ao cabeçalho*/
    background-color: #CF80DD;
    color: rgb(240,240,240);
    border: none; /*Remove a borda*/
    padding: 5px 15px; /*Define o espaço interno do botão*/
    border-radius: 5px; /*Arredonda os cantos do botão*/
    cursor: pointer;/*Define o cursor como um ponteiro ao passar sobre o botão*/
}/*Fechamento do header button*/

header h3{
    /*Remove a margem e o padding padrão do h3 dentro do header*/
    margin:0;
    padding:0;
}/*Fechamento header h3*/

main{
    padding: 40px;
    text-align: center;
}/*Fechamento main*/

main img{
    max-width: 200px;/*Defina a largura máxima das imagens dentro da main*/
}/*Fechamento main img*/

section{
    margin: 20px 0;/*Define a margem superior e inferior das seções como 20px e 0 nas laterais*/
}/*Fechamento Section*?

/*Estilo do rodapé / footer*/
footer{
    background-color: #6B137A;
    padding: 15px;
    text-align: center;
    bottom:0px;/*Alinha o rodapé abaixo da página*/
    position: absolute;
    width: 100%; /*Define a largura do rodapé como 100% da janela de visualição*/
}/*Fim do Footer*/